:root {
  --bg-color: #fdf9f9;

  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
  background-color: var(--bg-color);
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 1rem;

  a {
    height: 50px;

    img {
      height: 50px;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
