.topicGrid {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  scrollbar-width: none;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
